body {
  background: #fff;
}
h1 {
  color: #252525;
  font-size: 3em;
  font-family: Helvetica, Tahoma, CTjxiyuan468533, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
h3 {
  color: #454545;
  font-size: 2em;
  font-weight: 100;
  font-family: Helvetica, Tahoma, CTjxiyuan468533, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
@media only screen and (max-width: 668px) {
  .center-on-mobile {
    text-align: center !important;
  }
}
@media only screen and (max-width: 668px) {
  h1 {
    color: #252525;
    font-size: 1.7rem;
    font-weight: 400;
    font-family: Helvetica, Tahoma, CTjxiyuan468533, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  }
  h3 {
    color: #454545;
    font-size: 1.2rem;
    font-weight: 100;
    font-family: Helvetica, Tahoma, CTjxiyuan468533, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    margin-top: 5px;
  }
  img {
    max-width: 70% !important;
    max-height: 70% !important;
  }
  img .qr-img {
    width: 250px !important;
    height: 250px !important;
  }
}
p {
  color: #8f8f8f;
}
.fullheight {
  height: 100%;
}
.section {
  background-size: cover;
}
.slide {
  background-size: cover;
}
/* Defining each section background and styles
* --------------------------------------- */
#indexSection {
  /*background-image: url(../images/bg.png);*/
  /*padding: 30% 0 0 0;*/
}
#indexSection img {
  margin: 5px 0;
}
#indexSection .qr-img {
  width: 220px;
  height: 220px;
}
#section2 {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 75%, #fee8a4 75%, #fee8a4 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(75%, #ffffff), color-stop(75%, #fee8a4), color-stop(100%, #fee8a4));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 75%, #fee8a4 75%, #fee8a4 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #ffffff 75%, #fee8a4 75%, #fee8a4 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 75%, #fee8a4 75%, #fee8a4 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 75%, #fee8a4 75%, #fee8a4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fee8a4', GradientType=0);
}
@media only screen and (max-width: 668px) {
  #section2 {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 85%, #fee8a4 85%, #fee8a4 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(85%, #ffffff), color-stop(85%, #fee8a4), color-stop(100%, #fee8a4));
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 85%, #fee8a4 85%, #fee8a4 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #ffffff 85%, #fee8a4 85%, #fee8a4 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 85%, #fee8a4 85%, #fee8a4 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 85%, #fee8a4 85%, #fee8a4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fee8a4', GradientType=0);
  }
}
#section3 {
  background: #fee8a4;
  background: -moz-linear-gradient(top, #fee8a4 0%, #fee8a4 75%, #ffffff 75%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fee8a4), color-stop(75%, #fee8a4), color-stop(75%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #fee8a4 0%, #fee8a4 75%, #ffffff 75%, #ffffff 100%);
  background: -o-linear-gradient(top, #fee8a4 0%, #fee8a4 75%, #ffffff 75%, #ffffff 100%);
  background: -ms-linear-gradient(top, #fee8a4 0%, #fee8a4 75%, #ffffff 75%, #ffffff 100%);
  background: linear-gradient(to bottom, #fee8a4 0%, #fee8a4 75%, #ffffff 75%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee8a4', endColorstr='#ffffff', GradientType=0);
}
@media only screen and (max-width: 668px) {
  #section3 {
    background: #fee8a4;
    background: -moz-linear-gradient(top, #fee8a4 0%, #fee8a4 70%, #ffffff 70%, #ffffff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fee8a4), color-stop(70%, #fee8a4), color-stop(70%, #ffffff), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #fee8a4 0%, #fee8a4 70%, #ffffff 70%, #ffffff 100%);
    background: -o-linear-gradient(top, #fee8a4 0%, #fee8a4 70%, #ffffff 70%, #ffffff 100%);
    background: -ms-linear-gradient(top, #fee8a4 0%, #fee8a4 70%, #ffffff 70%, #ffffff 100%);
    background: linear-gradient(to bottom, #fee8a4 0%, #fee8a4 70%, #ffffff 70%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee8a4', endColorstr='#ffffff', GradientType=0);
  }
}
#section4 {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 75%, #fee8a4 75%, #fee8a4 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(75%, #ffffff), color-stop(75%, #fee8a4), color-stop(100%, #fee8a4));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 75%, #fee8a4 75%, #fee8a4 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #ffffff 75%, #fee8a4 75%, #fee8a4 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 75%, #fee8a4 75%, #fee8a4 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 75%, #fee8a4 75%, #fee8a4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fee8a4', GradientType=0);
}
@media only screen and (max-width: 668px) {
  #section4 {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 85%, #fee8a4 85%, #fee8a4 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(85%, #ffffff), color-stop(85%, #fee8a4), color-stop(100%, #fee8a4));
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 85%, #fee8a4 85%, #fee8a4 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #ffffff 85%, #fee8a4 85%, #fee8a4 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 85%, #fee8a4 85%, #fee8a4 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 85%, #fee8a4 85%, #fee8a4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fee8a4', GradientType=0);
  }
}
#section5 {
  background: #fee8a4;
  background: -moz-linear-gradient(top, #fee8a4 0%, #fee8a4 75%, #ffffff 75%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fee8a4), color-stop(75%, #fee8a4), color-stop(75%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #fee8a4 0%, #fee8a4 75%, #ffffff 75%, #ffffff 100%);
  background: -o-linear-gradient(top, #fee8a4 0%, #fee8a4 75%, #ffffff 75%, #ffffff 100%);
  background: -ms-linear-gradient(top, #fee8a4 0%, #fee8a4 75%, #ffffff 75%, #ffffff 100%);
  background: linear-gradient(to bottom, #fee8a4 0%, #fee8a4 75%, #ffffff 75%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee8a4', endColorstr='#ffffff', GradientType=0);
}
@media only screen and (max-width: 668px) {
  #section5 {
    background: #fee8a4;
    background: -moz-linear-gradient(top, #fee8a4 0%, #fee8a4 70%, #ffffff 70%, #ffffff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fee8a4), color-stop(70%, #fee8a4), color-stop(70%, #ffffff), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #fee8a4 0%, #fee8a4 70%, #ffffff 70%, #ffffff 100%);
    background: -o-linear-gradient(top, #fee8a4 0%, #fee8a4 70%, #ffffff 70%, #ffffff 100%);
    background: -ms-linear-gradient(top, #fee8a4 0%, #fee8a4 70%, #ffffff 70%, #ffffff 100%);
    background: linear-gradient(to bottom, #fee8a4 0%, #fee8a4 70%, #ffffff 70%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee8a4', endColorstr='#ffffff', GradientType=0);
  }
}
#section6 {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 75%, #fee8a4 75%, #fee8a4 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(75%, #ffffff), color-stop(75%, #fee8a4), color-stop(100%, #fee8a4));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 75%, #fee8a4 75%, #fee8a4 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #ffffff 75%, #fee8a4 75%, #fee8a4 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 75%, #fee8a4 75%, #fee8a4 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 75%, #fee8a4 75%, #fee8a4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fee8a4', GradientType=0);
}
@media only screen and (max-width: 668px) {
  #section6 {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 85%, #fee8a4 85%, #fee8a4 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(85%, #ffffff), color-stop(85%, #fee8a4), color-stop(100%, #fee8a4));
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 85%, #fee8a4 85%, #fee8a4 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #ffffff 85%, #fee8a4 85%, #fee8a4 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 85%, #fee8a4 85%, #fee8a4 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 85%, #fee8a4 85%, #fee8a4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fee8a4', GradientType=0);
  }
}
#section7 {
  background: #fee8a4;
}
#section7 img {
  margin-bottom: 40px;
}
#footer {
  font-size: 18px;
}
#footer p,
#footer a {
  color: #111;
}
#footer .equal.width.grid {
  padding-top: 35px;
}
#footer .doubling.row .grey.icon {
  font-size: 1.2em;
}
#footer .doubling.five.column.row {
  padding: 5px auto;
}
#footer .last.grid {
  padding-bottom: 30px;
  padding-top: 5px;
}
#footer .last.grid img {
  margin: 0px 0 14px 0;
  margin-left: auto;
  margin-right: auto;
  right: auto;
}
#footer .last.grid span {
  font-size: 14px;
  color: #8f8f8f;
}
#footer .five-equal {
  display: flex;
  flex-wrap: nowrap;
}
